@model CarFilterModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@{
    var carCount = Model.CarFeatureWithCars.Count;
    var userId = Context.Request.Cookies["userId"];
    Dictionary<string, int> brandCounts = new Dictionary<string, int>();
    var savedCarModel = Model.SavedCars;
   
}

<div class="container">
    <div class="nav">
        <button id="menuToggle"><i class='bx bx-menu'></i></button>
        <!--
        <div class="search">
            <i class='bx bx-search'></i>
            <input type="text" name="BrandOrModel" placeholder="Dilediğiniz arabayı arayın">
        </div>
        <div class="city">
            <i class='bx bxs-location-plus'></i>
            <input type="text" name="Location" placeholder="Ülke veya bölgede arayın">
        </div>
        <button>Search</button>
        <i class='bx bx-bell'></i>
        
        <div class="user-info">
            <img src="~/assets/profile-1.png">
            <div>
                <a href="#">Reza.UI <i class='bx bx-chevron-down'></i></a>
                <p>Reza@Test.com</p>
            </div>
        </div>
        -->
    </div>
    <main role="main" class="pb-3">
        <div class="content">
            <div class="header">
                <h4>Günlük kiralama yapacağınız araçlarımız <span>(@carCount)</span></h4>
                <p>Kartlara tıklayarak detaylara ulaşabilirsiniz</p>
            </div>

            <div class="job-cards">
                @foreach(var item in Model.CarFeatureWithCars)
                {
                    var isSaved = false;

                    <div class="card">
                        <div class="card-header">
                            <div class="job-info">
                                <i class='bx bx-car'></i>
                                <div>
                                    <h4>@item.Car.Brand <span> | @item.Car.Model</span></h4>
                                    <h5>Günlük Ücret: <span> @item.Car.Price</span></h5>
                                    <p>@item.Car.Location, @item.Car.State</p>
                                </div>
                            </div>
                            @if(Model.SavedCars != null)
                            {
                                @foreach (var x in Model.SavedCars)
                                {
                                    @if (item.CarId == x.CarId)
                                    {
                                        isSaved = true;
                                        break;
                                    }
                                }
                            }

                            @if(isSaved && userId != null){
                                <form asp-controller="SavedCar" asp-action="RemoveSavedCarToUserProfile" method="post">
                                    <input name="carId" value="@item.CarId" hidden />
                                    <button type="submit" class="bx bx-bookmark-plus active"></button>
                                </form>
                            }
                            else if (!isSaved && userId != null)
                            {
                                <form asp-controller="SavedCar" asp-action="SavedCarToUserProfile" method="post">
                                    <input name="carId" value="@item.CarId" hidden />
                                    <button type="submit" class="bx bx-bookmark-plus"></button>
                                </form>
                            }
                            else{}
                        </div>
                        <div class="card-tags">
                            <a href="#">Km: @item.Km</a>
                            <a href="#">Renk: @item.Color</a>
                            <a href="#">@item.FuelType</a>
                            <a href="#">@item.BodyType</a>
                            <a href="#">@item.GearType</a>
                        </div>
                        <div class="card-desc">@item.Car.Description</div>
                    </div>
                }
            </div>
           
        </div>
        <form asp-controller="Home" asp-action="Index" method="post">
            <div class="filters">
                <div class="header">
                    <h3>Araç Filtrele</h3>
                    <a href="#">Filtreyi temizle</a>
                </div>
                <div class="item">
                    <div class="title">
                        <h4>Marka</h4>
                    </div>
                    @foreach(var brandFilter in Model.CarBrandCounts)
                    {
                        <div class="checkbox">
                            <div>
                                <input type="checkbox" name="Brand" value="@brandFilter.Key">
                                <label for="@brandFilter.Key">@brandFilter.Key</label>
                            </div>
                            <p>@brandFilter.Value</p>
                        </div>
                    }
                </div>
                <div class="item">
                    <div class="title">
                        <h4>Kasa Tipi</h4>
                    </div>
                    @foreach (var bodyTypeFilter in Model.CarBodyTypeCounts)
                    {
                        <div class="checkbox">
                            <div>
                                <input type="checkbox" name="BodyType" value="@bodyTypeFilter.Key">
                                <label for="@bodyTypeFilter.Key">@bodyTypeFilter.Key</label>
                            </div>
                            <p>@bodyTypeFilter.Value</p>
                        </div>
                    }
                </div>
                <div class="item">
                    <div class="title">
                        <h4>Yakıt Tipi</h4>
                    </div>
                    @foreach (var fuelTypeFilter in Model.CarFuelTypeCounts)
                    {
                        <div class="checkbox">
                            <div>
                                <input type="checkbox" name="FuelType" value="@fuelTypeFilter.Key">
                                <label for="@fuelTypeFilter.Key">@fuelTypeFilter.Key</label>
                            </div>
                            <p>@fuelTypeFilter.Value</p>
                        </div>
                    }
                </div>
                <div class="item">
                    <div class="title">
                        <h4>Araç Konumu</h4>
                    </div>
                    <div class="location">
                        <i class='bx bxs-location-plus'></i>
                        <input type="text" name="Location" placeholder="Konum Seç">
                        </div>
                </div>
                <div class="item">
                    <div class="title">
                        <h4>Araç Kilometresi</h4>
                    </div>
                    <div class="location">
                        <i class='bx bx-car'></i>
                        <input type="number" name="MinKm" placeholder="Minimum Km">
                    </div>
                    <div class="location">
                        <i class='bx bx-car'></i>
                        <input type="number" name="MaxKm" placeholder="Maksimum km">
                    </div>
                </div>
                <div class="item">
                    <div class="title">
                        <h4>Renk</h4>
                    </div>
                    @foreach (var colorTypeFilter in Model.CarColorTypeCounts)
                    {
                        <div class="checkbox">
                            <div>
                                <input type="checkbox" name="Color" value="@colorTypeFilter.Key">
                                <label for="@colorTypeFilter.Key">@colorTypeFilter.Key</label>
                            </div>
                            <p>@colorTypeFilter.Value</p>
                        </div>
                    }
                </div>
                <div class="item">
                    <button type="submit" class="button-filter">Uygula</button>
                </div>
            </div>
        </form>
        
    </main>
</div>