@model List<SavedCar>


@{
    ViewData["Title"] = "Saved Car";
    Layout = "_Layout";

    var savedCarCount = Model.Count;
}
<div class="nav">
    <button id="menuToggle"><i class='bx bx-menu'></i></button>
</div>
<main role="main" class="pb-3">
    <div class="content">
        <div class="header">
            <h4>Kaydedilen Araçlar <span>(@savedCarCount)</span></h4>
            <p>Kaydettiğiniz araçları buradan kontrol edebilirsiniz</p>
        </div>

        <div class="job-cards">

            @foreach(var item in Model)
            {
                <div class="card">
                    <div class="card-header">
                        <div class="job-info">
                            <i class="bx bx-car"></i>
                            <div>
                                <h4>@item.Car.Brand <span> | @item.Car.Model</span></h4>
                                <h5>Günlük Ücret: <span> @item.Car.Price</span></h5>
                                <p>@item.Car.Location, @item.Car.State</p>
                            </div>
                        </div>
                        <form asp-controller="SavedCar" asp-action="RemoveSavedCarToUserProfile" method="post">
                            <input name="carId" value="@item.CarId" hidden />
                            <button type="submit" class="bx bx-bookmark-plus active"></button>
                        </form>
                    </div>
                    <div class="card-desc">@item.Car.Description</div>
                </div>
            }
    </div>
</main>