@model UserUpdateDto

@{
    var x = Model;
    ViewData["Title"] = "Profile";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/login-page.css" asp-append-version="true" />
</head>
<div class="nav">
    <button id="menuToggle"><i class='bx bx-menu'></i></button>
</div>
<main role="main" class="pb-3">
    <div class="container">
        <div class="profile-settings">
            <h2>Profil Ayarları</h2>
            <form asp-controller="Login" asp-action="Profile" method="post">
                <input type="hidden" name="Id" value="@Model.Id" />

                <div class="profile-picture">
                    <img src="~/assets/profile-1.png" alt="Kullanıcı Fotoğrafı">
                    <div class="new-profile-picture">
                        <label>Yeni fotoğrafınızı yükleyiniz..</label>
                        <input type="file" name="Photo" accept="image/*">
                        <span asp-validation-for="Photo" class="danger-span-alert"></span>
                    </div>
                </div>
                <!-- Kullanıcı Bilgileri -->
                <div class="form-group">
                    <label for="firstName">Ad:</label>
                    <input type="text" id="firstName" name="Name" placeholder="Adınız" value="@Model.Name">
                    <span asp-validation-for="Name" class="danger-span-alert"></span>
                </div>
                <div class="form-group">
                    <label for="lastName">Soyad:</label>
                    <input type="text" id="lastName" name="LastName" placeholder="Soyadınız" value="@Model.LastName">
                    <span asp-validation-for="LastName" class="danger-span-alert"></span>
                </div>

                <!-- Telefon Değiştirme -->
                <h2>Telefon Numarası Değiştirme</h2>
                <div class="form-group">
                    <label for="old-phone">Güncel Telefon Numaranız</label>
                    <input type="number" class="old-values" value="@Model.PhoneNumber" readonly />
                    <label for="email">Yeni Telefon Numarası:</label>
                    <input type="number" id="email" name="PhoneNumber" placeholder="Yeni Telefon Numaranız">
                    <span asp-validation-for="PhoneNumber" class="danger-span-alert"></span>
                </div>


                <!-- E-posta Değiştirme -->
                <h2>E-posta Değiştirme</h2>
                <div class="form-group">
                    <label for="old-email">Güncel E-Postanız</label>
                    <input type="text" class="old-values" value="@Model.Email" readonly />
                    <label for="email">Yeni E-posta:</label>
                    <input type="text" id="email" name="Email" placeholder="Yeni E-posta adresiniz">
                    <span asp-validation-for="Email" class="danger-span-alert"></span>
                </div>


                <!-- Şifre Değiştirme -->
                <h2>Şifre Değiştirme</h2>
                <div class="form-group">
                    <label for="CurrentPassword">Mevcut Şifre:</label>
                    <input type="password" id="currentPassword" name="CurrentPassword" placeholder="Mevcut şifreniz">
                    <span asp-validation-for="CurrentPassword" class="danger-span-alert"></span>
                </div>
                <div class="form-group">
                    <label for="Password">Yeni Şifre:</label>
                    <input type="password" id="newPassword" name="Password" placeholder="Yeni şifreniz">
                    <span asp-validation-for="Password" class="danger-span-alert"></span>
                </div>
                <div class="form-group">
                    <label for="PasswordAgain">Yeni Şifre (Tekrar):</label>
                    <input type="password" id="newPassword" name="PasswordAgain" placeholder="Yeni şifrenizi tekrar girin">
                    <span asp-validation-for="PasswordAgain" class="danger-span-alert"></span>
                </div>
                <div class="form-group">
                    <button type="submit">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</main>